<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeusEstudosAndroid"
        tools:targetApi="31">
        <activity
            android:name=".SpinnerTextColor_20"
            android:exported="false" />
        <activity
            android:name=".RadioButtonActivity_19"
            android:exported="false" />
        <activity
            android:name=".CheckBoxActivity_18"
            android:exported="false" />
        <activity
            android:name=".LoadingActivity_17"
            android:exported="false" />
        <activity
            android:name=".EasyTuto_16_2"
            android:exported="false" />
        <activity
            android:name=".EasyTuto_16"
            android:exported="false" />
        <activity
            android:name=".CalculadoraDoAmor_15"
            android:exported="false" />
        <activity
            android:name=".OrientationActivity_14"
            android:exported="false" />
        <activity
            android:name=".WebViewActivity_04"
            android:exported="false" />
        <activity
            android:name=".ToastActivity_08"
            android:exported="false" />
        <activity
            android:name=".AudioActivity_12"
            android:exported="false" />
        <activity
            android:name=".FullScreenActivity_09"
            android:exported="false" />
        <activity
            android:name=".ImagemNoBotaoActivity_11"
            android:exported="false" />
        <activity
            android:name=".IntentBasicaActivity_07"
            android:exported="false" />
        <activity
            android:name=".BackgroundColorActivity_10"
            android:exported="false" />
        <activity
            android:name=".SplashBasicaEasyActivity_06"
            android:exported="false" />
        <activity
            android:name=".SplashBasicaActivity_05"
            android:exported="false" />
        <activity
            android:name=".OnClickListenerActivity_02"
            android:exported="false" />
        <activity
            android:name=".AlterandoIconActivity_03"
            android:exported="false" />
        <activity
            android:name=".OnClickActivity_01"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ListViewActivity_13"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>